* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

header {
  width: 100%;
}

.nav {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.logo {
  width: 200px;
  height: 35px;
}

.menu {
  display: flex;
}

.menu li {
  list-style: none;
  margin: 10px;
}

.menu li a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.menu li a:hover {
  padding: 5px 10px;
  background: rgba(15, 161, 219, 0.521);
  color: rgb(255, 255, 255);
  border-radius: 15px;
  transition: all 0.5s ease;
}

.body-container {
  height: 100vh;
  overflow: hidden;
  background-color: #3e4ab8;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 300px;
  height: 400px;
  perspective: 800px;
  padding: 20px;
}

.container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 2px #29b0ff40;
  position: absolute;
  color: #000;
  backface-visibility: hidden;
}

.front {
  background-image: url(../images/iso.png);
  background-size: 40%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-color: #dfe5fdcc;
}

.back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background: #d4d8fc;
}

footer {
  background-color: #3e4ab8;
  height: 300px;
  width: 100%;
  color: #fff;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 100px;
  width: 90%;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.footer-container p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-solid,
.fa-brands {
  font-size: 40px;
}

/*PRODUCTOS*/
.body-products{
  background-color: #3e4ab8;
  height: auto;
}

.cont-body-inside {
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card-products {
  width: 25%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: #afb4e2;
  flex-wrap: wrap;
}

.card-products:hover{
  transform: translateY(-5px);
  box-shadow: 0 0 1.5em rgba(0,0,0,0.8);;
}

.intro {
  font-size: 10px;
  margin-top: 5px;
}

.button-agregar {
  background-color: #3e4ab8;
  color: white;
  width: 100px;
  height: 30px;
  border: 1px solid white;
  border-radius: 3px;
  margin-bottom: 5px;
}

.images-products {
  width: 80%;
  height: 50%;
  border-radius: 6px;
  margin-top: 10px;
  
}

.precio {
  display: flex;
  margin-top: 5px;
}

/* fin styles productos */

/* PANEL ADMINISTRADOR */
.nav-admin{
  width: 100%;
  height: 100px;
  background-color: #3e4ab8;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 150px;
}

.button-admin-logout{
  width: 120px;
  height: 40px;
  border-radius: 5px;
  color: black;
  background-color: #99a3ff;
  border: none;
}

.body-admin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px; 
}

.table {
  background-color: #99a3ff;
  flex-direction: column;
  padding: 20px 40px 20px 40px;
}

.images-products-admin{
    width: 80px;
    height: 80px;
}


.form-admin{
    background-color: #99a3ff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 500px;
    margin: 50px;
}

.container-button-create {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button-admin-create {
  background-color: #3e4ab8;
  width: 150px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 50px;
  color: white;
}

.body-create-admin{
  display: flex;
  align-items: center;
  justify-content: center;
}

.data-json {
    font-size: 12px;
    text-align: center;
    width: 50px;
}

.data-json-desc{
    font-size: 12px;
    text-align: center;
}

.title-fixed{
    font-size: 12px;
}

.th-admin{
    background-color: #3e4ab8;
    height: 20px;
    color: white;
    border-radius: 5px;
}

.button-admin-classAll{
    background-color: #3e4ab8;
    color: white;
    border-radius: 5px;
    display: flex;
    width: 90px;
    height: 40px;
    border: none;
    font-size: 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-new-product{
  background-color: #3e4ab8;
    color: white;
    border-radius: 5px;
    display: flex;
    width: 120px;
    height: 40px;
    border: none;
    font-size: 12px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control-desc{
  height: 50px;
}

.form-group {
  width: 50%;
}

.form-admin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.group1 {
  display: flex;
  width: 500px;
  height: 50px;
  margin-top: 20px;
}

.g1 {
  width: 150px;
}

.form-control-desc {
  width: 600px;
  height: 80px;
}

.form-group-img {
  margin-top: 20px;
}
/* FIN PANEL ADMINISTRADOR */

