<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/6c2885ab71.js" crossorigin="anonymous"></script>
    <title>Panel Administrator</title>
</head>
<body class="container-admin-main">
    
    <header class="header-panel">
            <h2 class="h1-admin">Panel administrador</h2>  
    </header>

    <div class="container-sides">
         <div class="left-side">
            <div class="articulos">
            <h4>Articulos</h4>
                <a href="#" class="buttons-admin"><p>Empanadas</p></a>
                <a href="#" class="buttons-admin"><p>Alfajores</p></a>
                <a href="#" class="buttons-admin"><p>Mates</p></a>
                <a href="#" class="buttons-admin"><p>Agregar nuevo producto</p></a>
            </div> 
        </div>

        <div class="rigth-side">
            <div class="articulos-admin">
                <span>Artículo:</span>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                    </select>
                    <br/>
                    <img src="" class="cuadro-imagen">
                    <h4>Reemplazar imagen</h4>
                        <input type="file">
                        <h4>Precio</h4>
                        <input type="number" class="price">
            </div>

                    <button type="submit" class="button-modified">Modificar</button>
        </div>
    </div>

    
</body>
</html>