<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/products.css">
    <title>Gauchito Git</title>
</head>
<body>
    <header>
        <nav class="nav">
            <a href="/views/index.ejs"><img src="/images/logo.png" alt="logo" class="logo"></a>
            <ul class="menu">
                <li><a href="index.ejs">Inicio</a></li>
                <li><a href="login.ejs">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="container-main-1">

            <div class="container-main">
                <div class="container">
            <div class="card">
            <img src="/images/carne.jpg" alt="carneClasica">
                <div class="intro">
                    <h1>Carne clásica</h1>
                </div>
                <p class="precios">$100</p>
                <label for="quantity">Cantidad:</label>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                <br/>
                <button>AGREGAR</button>
            </div>
            
                </div>

                <div class="container">
            <div class="card">
            <img src="/images/622b8e5ababe6-34-4.jpg" alt="pollo">
                <div class="intro">
                    <h1>Pollo</h1>
                </div>
                <p class="precios">$120</p>
                <label for="quantity">Cantidad:</label>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                <br/>
                <button>AGREGAR</button>
            </div>
            </div>

    
                <div class="container">
            <div class="card">
                <img src="/images/622b8f225a2fb-27-4.jpg" alt="jamonQueso">
                <div class="intro">
                    <h1>Jamón y queso</h1>
                </div>
                <p class="precios">$80</p>
                <label for="quantity">Cantidad:</label>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                <br/>
                <button>AGREGAR</button>
            </div>
                </div>

                <div class="container">
            <div class="card">
                <img src="/images/espinacayqueso.jpg" alt="espinacaQueso">
                <div class="intro">
                    <h1>Espinaca y Queso</h1>
                </div>
                <p class="precios">$70</p>
                <label for="quantity">Cantidad:</label>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                <br/>
                <button>AGREGAR</button>
            </div>
                </div>

                <div class="container">
            <div class="card">
                <img src="/images/humitayqueso.jpg" alt="humitaQueso">
                <div class="intro">
                    <h1>Humita y Queso</h1>
                </div>
                <p class="precios">$105</p>
                <label for="quantity">Cantidad:</label>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                <br/>
                <button>AGREGAR</button>
            </div>
                </div>

                <div class="container">
            <div class="card">
                <img src="/images/carnepicante.jpg" alt="carnePicante">
                <div class="intro">
                    <h1>Carne picante</h1>
                </div>
                <p class="precios">$110</p>
                <label for="quantity">Cantidad:</label>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                <br/>
                <button>AGREGAR</button>
            </div>
                </div>    
            </div>

            <div class="container-carrito">
                <span class="title">Carrito</span>
                <button class="pagar">Pagar</button>
            </div>


    </div>
    
    <%- include ('./partials/footer')%>
    

</body>
</html>