<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/products.css">
    <title>Gauchito Git</title>
</head>
<body>
    <header>
        <nav class="nav">
            <a href="/views/index.ejs"><img src="/images/logo.png" alt="logo" class="logo"></a>
            <ul class="menu">
                <li><a href="index.ejs">Inicio</a></li>
                <li><a href="login.ejs">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="container-main-1">

            <div class="container-main">
                <div class="container">
                    <div class="card">
                        <img src="/images/alafajchoco.webp" alt="chocolate">
                    <div class="intro">
                        <h1>Chocolate negro</h1>
                    </div>
                    <p class="precios">$120</p>

                <label for="quantity">Cantidad:</label>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                <br/>
                <button>AGREGAR</button>
            </div>
            
                </div>

                <div class="container">
            <div class="card">
            <img src="/images/alfajores-maicena-caramelo-leche-coco_472159-184.webp" alt="maicena">
                <div class="intro">
                    <h1>Alfajor maicena</h1>
                </div>
                <p class="precios">$90</p>
                <label for="quantity">Cantidad:</label>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                <br/>
                <button>AGREGAR</button>
            </div>
             </div>

    
                <div class="container">
            <div class="card">
                <img src="/images/milkamix.jpeg" alt="milkamix" class="imgalf">
                <div class="intro">
                    <h1>Milka mix</h1>
                </div>
                <p class="precios">$105</p>
                <label for="quantity">Cantidad:</label>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                <br/>
                <button>AGREGAR</button>
            </div>
                </div>

                <div class="container">
            <div class="card">
                <img src="/images/descarga.jfif" alt="chocbla" class="imgalf">
                <div class="intro">
                    <h1>Caja x24 Havanna</h1>
                </div>
                <p class="precios">$500</p>
                <label for="quantity">Cantidad:</label>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                <br/>
                <button>AGREGAR</button>
            </div>
                </div>

                <div class="container">
            <div class="card">
                <img src="/images/cachafaz.jpg" alt="cachafaz" class="imgalf">
                <div class="intro">
                    <h1>Cachafaz</h1>
                </div>
                <p class="precios">$600</p>
                <label for="quantity">Cantidad:</label>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                <br/>
                <button>AGREGAR</button>
            </div>
                </div>

                <div class="container">
            <div class="card">
                <img src="/images/alfblanco.jpg" alt="alfblanc" class="imgalf">
                <div class="intro">
                    <h1>Alfajor blanco</h1>
                </div>
                <p class="precios">$95</p>
                <label for="quantity">Cantidad:</label>
                <select>
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
                <br/>
                <button>AGREGAR</button>
            </div>
                </div>    
            </div>

            <div class="container-carrito">
                <span class="title">Carrito</span>
                <button class="pagar">Pagar</button>
            </div>
    </div>

    <%- include ('./partials/footer')%>
    
    

</body>
</html>