<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <title>Gauchito Git</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-logo">
        <a href="/"><img src="/images/logo.png" class="logo"></a>
    </div>

        <div class="container-form">
            <div class="forms">
                <span class="title">Registrarse</span>
                
                <form method="post" action="/users/register" enctype="multipart/form-data" >
                    <div class="input-field">
                        <input type="text" placeholder="Ingresa tu nombre" id = "name" required name="name">
                        <img src="/images/person-circle.svg" alt="icono">
                        <% if (locals.errors && errors.name){ %>
                        <div class = "errorMessage">
                            <%= errors.name.msg %>
                        </div>
                        <% } %>
                    </div>
                    <div class="input-field">
                        <input type="mail" placeholder="Ingresa tu email" id = "email" required value = "m" name="email">
                        <img src="/images/envelope.svg">
                        <% if (locals.errors && errors.email){ %>
                            <div class = "errorMessage">
                                <%= errors.email.msg %>
                            </div>
                            <% } %>
                    </div>

                    <div class="input-field">
                        <input type="password" placeholder="Ingresa tu password" id = "password" required value="" name="password">
                        <img src="/images/key-fill.svg">
                        <% if (locals.errors && errors.password){ %>
                            <div class = "errorMessage">
                                <%= errors.password.msg %>
                            </div>
                            <% } %>
                    </div>
                    <div class="input-field">
                        <input type="password" placeholder="Confirma tu password" required value="" name="password2">
                        <img src="/images/check-circle.svg">
                    </div>

                    <div class="container-image-perfil">
                        <label class="img-perfil">Imagen de perfil</label>
                        <input type="file" name="inputImg">
                    </div>

                    <div class="checkbox-text">
                        <input type="checkbox" id="logCheck">
                        <a href="#" class="text-term">Acepto término y condiciones</a>
                    </div>

                    
                    <div class="input-field button">
                        <input type="submit" value="Registrarse">
                    </div>
                    
                                    
                </form>
        </div>
    </div>

</body>
</html>